@import "src/styles/custom_vars";

.productCardList {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  width: 100%;
  position: relative;
  .image {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  .moveDisc {
    position: absolute;
    // border-radius: 30px;
    opacity: 0;
    width: 25%;
    z-index: -1;
  }
  .animation {
    opacity: 1;
    z-index: 100;
    transition: all 0.4s 0.2s ease-in, bottom 1ms, right 1ms;
    -moz-transition: all 0.4s 0.2s ease-in, bottom 1ms, right 1ms;
    -webkit-transition: all 0.4s 0.2s ease-in, bottom 1ms, right 1ms;
    -o-transition: all 0.4s 0.2s ease-in, bottom 1ms, right 1ms;
    animation: yAxis 1s alternate forwards cubic-bezier(0.53, 0.52, 1, 1);
  }
}

@keyframes move {
  60% {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  90% {
    opacity: 1;
  }
  to {
    bottom: 0;
    right: 20%;
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
  }
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(100vw - 105px));
  }
  90% {
    opacity: 1;
  }
  to {
    bottom: 0;
    right: 20%;
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(100vh));
  }
  60% {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  to {
    bottom: 0;
    left: 0%;
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
  }
}
